:root {
  --color-purple: #702963;
  --color-lightpurple: #dbdbff;
  --color-white: #ffffff;
  --color-pink: #e6adc9;
  --color-gradient: linear-gradient(
    240deg,
    rgba(56, 45, 56, 1) 39%,
    rgba(67, 28, 52, 1) 65%,
    rgba(91, 33, 56, 1) 86%,
    rgba(112, 73, 106, 1) 100%
  );
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-purple);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navbar ul {
  display: flex;
}

#navbar li {
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: var(--color-lightpurple);
  padding: 2rem;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  background: var(--color-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-section h1 {
  margin-bottom: 0;
  color: var(--color-white);
}

#welcome-section p {
  color: var(--color-pink);
}
