:root {
  --color-purple: #702963;
  --color-lightpurple: #dbdbff;
  --color-white: #ffffff;
  --color-pink: #e6adc9;
  --color-brown: #a95c68;
  --color-gradient: linear-gradient(
    240deg,
    rgba(56, 45, 56, 1) 39%,
    rgba(67, 28, 52, 1) 65%,
    rgba(91, 33, 56, 1) 86%,
    rgba(112, 73, 106, 1) 100%
  );
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-purple);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navbar ul {
  display: flex;
}

#navbar li {
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: var(--color-lightpurple);
  padding: 2rem;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  background: var(--color-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-section h1 {
  margin-bottom: 0;
  color: var(--color-white);
}

#welcome-section p {
  color: var(--color-pink);
}

#projects {
  background-color: var(--color-brown);
  width: 100%;
  height: auto;
  padding: 1rem 1rem 10rem 1rem;
}

#project-header {
  margin: 0 auto;
  padding-top: 12rem;
  width: max-content;
  color: var(--color-white);
  border-bottom: 4px solid var(--color-white);
  margin-bottom: 5rem;
}

.project-tile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5rem;
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
}

.project {
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-white);
  background: var(--color-gradient);
  padding: 2rem;
  text-align: center;
}

.project-image {
  height: calc(95% - 2rem);
  width: 100%;
  object-fit: cover;
}

#profile {
  background-color: var(--color-lightpurple);
  color: var(--color-purple);
  width: 100%;
  height: 90vh;
}

#profile-header {
  padding-top: 10rem;
  text-align: center;
  font-size: 2.5rem;
}

.contacts {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact-links {
  text-decoration: none;
  color: var(--color-purple);
  font-size: 4.5rem;
  padding: 0rem 5rem;
}

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 0rem 3rem;
  background: var(--color-gradient);
  color: var(--color-white);
}

@media only screen and (max-width: 61.25em) {
  .project-tile {
    grid-template-columns: repeat(4, 1fr);
  }

  .project {
    grid-column: span 2;
  }

  .project:nth-last-child(1):nth-child(odd) {
    grid-column: 2 / span 2;
  }

  .contacts {
    margin-top: 5rem;
  }

  .contact-links {
    margin: 2rem;
  }
}

@media only screen and (max-width: 42.5em) {
  html {
    font-size: 50%;
  }

  .project-tile {
    grid-template-columns: 1fr;
    padding: 1rem 5rem;
  }

  .project:nth-last-child(1):nth-child(odd) {
    grid-column: 1 / span 3;
  }

  .project {
    grid-column: span 3;
  }

  #project-header {
    width: 80%;
    text-align: center;
  }

  .contacts {
    margin-top: 8rem;
  }
}
